.body{
    padding: 0px;
    margin: 0px;
}
.frame-container{
    display: flex;
    width:-webkit-fill-available;
    height:-webkit-fill-available;
}
.frame-register{
    display: flex;
    width:-webkit-fill-available;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    height: 100%;
}